*.pyo
*.pyc
*.egg-info
*.cache
*.orig
*.swp
*.rej
._*
*~
*.o
.build
.sass-cache
.tox
static/js/tinymce
design/stylesheets
src/stylesheets
dist
docs/_build
.project
.pydevproject
.settings
.settings
old
