*.pyo
*.pyc
*.egg-info
*.cache
*.orig
*.swp
*.rej
._*
*~
*.o
.build
.sass-cache
.tox
/pip-selfcheck.json
/bin/
static/js/tinymce
design/stylesheets
src/stylesheets
dist
docs/_build
/include/
/lib/
.project
.pydevproject
.settings
.settings
old
